<!-- INCLUDE overall_header.html -->	

<h3 class="panel-header"><span class="panel-icon bc-links"><a href="{U_INDEX}" title="{L_INDEX}" accesskey="h"><i class="icon-home"></i></a></span>

	<ul class="linklist navlinks">
        <li><!-- BEGIN navlinks --> <strong>&nbsp;&#187;&nbsp;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></li>
    </ul>
</h3>

<div class="panel">	
<h2><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>
	<!-- IF FORUM_DESC or MODERATORS or U_MCP -->		
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}</p><!-- ENDIF -->		
	<!-- ENDIF -->

	<!-- IF S_FORUM_RULES -->
	<div class="rules">			

		<!-- IF U_FORUM_RULES -->
		<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
		<strong>{L_FORUM_RULES}</strong><br />
		{FORUM_RULES}
		<!-- ENDIF -->
		
	</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="topic-actions">

		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="buttons">
			<!-- IF S_IS_LOCKED -->
			<a href="{U_POST_NEW_TOPIC}" title="{L_FORUM_LOCKED}"><span class="button-icon"><i class="icon-lock"></i></span>{L_FORUM_LOCKED}</a><!-- ELSE -->
			<a href="{U_POST_NEW_TOPIC}" title="{L_POST_TOPIC}"><span class="button-icon"><i class="icon-doc-new"></i></span>{L_POST_TOPIC}</a>
			<!-- ENDIF --></div>
			
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SEARCHBOX -->
			<div class="search-box">
				<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
					<fieldset>
						<div class="inside-search-box">
							<input class="inputbox search tiny"  type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if(this.value=='{L_SEARCH_FORUM}')this.value='';" onblur="if(this.value=='')this.value='{L_SEARCH_FORUM}';" />								
							<input class="button2" type="submit" value="&#xf002" />
							{S_SEARCH_LOCAL_HIDDEN_FIELDS}
						</div>	
					</fieldset>
				</form>
			</div>
			<!-- ENDIF -->

			<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
			<div class="pagination">
				<!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS}<!-- ENDIF -->
				<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
				<!-- ENDIF -->
			</div>
			<!-- ENDIF -->

		</div>
		<!-- ENDIF -->
	</div><!-- PANEL END -->

	<!-- IF S_HAS_SUBFORUM -->	
	<!-- INCLUDE forumlist_body.html -->
	<!-- ENDIF -->

	<!-- Forum Menu start here -->
	<!-- INCLUDE forum_menu.html -->
	<!-- Forum Menu ends here -->

	<!-- IF S_NO_READ_ACCESS -->

	<div class="panel">
		
		<strong>{L_NO_READ_ACCESS}</strong>
		
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

	<form action="{S_LOGIN_ACTION}" method="post">

		<div class="panel">
			

			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

				<fieldset class="fields1">
					<dl>
						<dt><label for="username">{L_USERNAME}:</label></dt>
						<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
					</dl>
					<dl>
						<dt><label for="password">{L_PASSWORD}:</label></dt>
						<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
						<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
						<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
					</dl>
					<dl>
						<dt>&nbsp;</dt>
						<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
					</dl>
					{S_LOGIN_REDIRECT}
				</fieldset>
			</div>

			
		</div>

	</form>

	<!-- ENDIF -->

	<!-- ENDIF -->

	<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
</ul>

</div>
<!-- ENDIF -->

<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
	
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt><!-- IF S_DISPLAY_ACTIVE --><span class="panel-icon"><i class="icon-fire"></i></span>{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --><span class="panel-icon"><i class="icon-attention-alt"></i></span>{L_ANNOUNCEMENTS}<!-- ELSE --><span class="panel-icon"><i class="icon-docs"></i></span>{L_TOPICS}<!-- ENDIF --></dt>
				<dd class="replies">{L_REPLIES}</dd>
				<dd class="views">{L_VIEWS}</dd>
				<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist topics">
		<!-- ENDIF -->

		<li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}"><!-- IF topicrow.S_UNREAD_TOPIC -->
				<a href="{topicrow.U_NEWEST_POST}"><i class="fa fa-file"></i></a> <!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>						
				<!-- IF topicrow.S_POSTS_UNAPPROVED -->
				<a title="{L_POSTS_UNAPPROVED}" href="{topicrow.U_MCP_QUEUE}"><i class="icon-help-circled-alt ic-unaproved"></i></a><!-- ENDIF -->
				<!-- IF topicrow.S_TOPIC_UNAPPROVED -->
				<a title="{L_TOPIC_UNAPPROVED}" href="{topicrow.U_MCP_QUEUE}"><i class="icon-help-circled-alt ic-unaproved"></i></a><!-- ENDIF -->						
				<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}"><i title="{L_TOPIC_REPORTED}" class="icon-attention-alt ic-reported"></i></a><!-- ENDIF --><br />
				<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
				<!-- IF topicrow.ATTACH_ICON_IMG --><i title="{L_TOTAL_ATTACHMENTS}" class="icon-picture"></i> <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
			</dt>
			<dd class="replies">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
			<dd class="views">{topicrow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
			<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
				<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}" title="{L_VIEW_LATEST_POST}"><!-- IF S_CONTENT_DIRECTION eq 'rtl' --><i class="fa fa-arrow-left last-post-icon"></i><!-- ELSE --><i class="fa fa-arrow-right last-post-icon"></i><!-- ENDIF --></a> <!-- ENDIF --><br />{topicrow.LAST_POST_TIME}</span>
			</dd>
		</dl>
	</li>

	<!-- IF topicrow.S_LAST_ROW -->
</ul>

</div>
<!-- ENDIF -->

<!-- BEGINELSE -->
<!-- IF S_IS_POSTABLE -->
<div class="panel">
	
	<strong>{L_NO_TOPICS}</strong>
	
</div>
<!-- ENDIF -->
<!-- END topicrow -->

<!-- Forum Menu start here -->
<!-- INCLUDE forum_menu.html -->
<!-- Forum Menu ends here -->

<div class="panel">
	<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
	<form method="post" action="{S_FORUM_ACTION}">
		<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
			<!-- IF not S_IS_BOT -->
			<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
			<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
			<!-- ENDIF -->
		</fieldset>
	</form>
	<hr />
	<!-- ENDIF -->

	<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
	<div class="topic-actions">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="buttons">
			<!-- IF S_IS_LOCKED -->
			<a href="{U_POST_NEW_TOPIC}" title="{L_FORUM_LOCKED}"><span class="button-icon"><i class="icon-lock"></i></span>{L_FORUM_LOCKED}</a><!-- ELSE -->
			<a href="{U_POST_NEW_TOPIC}" title="{L_POST_TOPIC}"><span class="button-icon"><i class="icon-doc-new"></i></span>{L_POST_TOPIC}</a>
			<!-- ENDIF --></div>
			
			<!-- ENDIF -->

			<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
			<div class="pagination">				
				<!-- IF TOTAL_POSTS and not NEWEST_USER --> {TOTAL_POSTS}<!-- ELSEIF TOTAL_TOPICS and not NEWEST_USER --> {TOTAL_TOPICS}<!-- ENDIF -->
				<!-- IF TOTAL_USERS -->{TOTAL_USERS}<!-- ENDIF -->
				<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
				&bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
			</div>
			<!-- ENDIF -->
		</div>
		<!-- ENDIF -->

		<!-- INCLUDE jumpbox.html -->
	</div>
	<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3 class="panel-header"><span class="panel-icon"><i class="icon-info-circled-alt"></i></span><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<div class="panel" >
		<p>{LOGGED_IN_USER_LIST}</p>
	</div>	
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO -->
	<h3 class="panel-header"><span class="panel-icon"><i class="icon-error"></i></span>{L_FORUM_PERMISSIONS}</h3>
	<div class="panel" >
		<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
	</div>	
	<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->