/* Button Styles
---------------------------------------- */

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
     padding: 0 !important;
     border: 0 none !important;
 }
.buttons i {    
  font-size: 1.3em!important;  
  position: relative;    
  top: 1px;
  padding-right: 8px;
}
.buttons .icon-left-open-mini {
  margin-left: -5px!important;
}
.buttons .icon-right-open-mini {
  margin-right: -5px!important;
  padding-left: 5px!important;
}
.buttons .icon-reply {
  margin-left: -2px!important;

}
.buttons {
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;   
}
.buttons a { 
  line-height: 17px;
  padding: 8px 10px;  
  position: relative;
  font-size: 13px;
  overflow: hidden;  
  display: block;
  float: left;
  margin-right: 5px;

}
#cp-main .buttons {
	background: none;
	border: none;

}
#cp-main .buttons div {
	float: left;	
}

/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	padding-top: 5px;
	list-style: none;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	width: 100%;
	height: 100%;	
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
ul.profile-icons li span { display:none; }

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
}
.postbody ul.profile-icons li {
	margin: 0 11px 3px 0;
	float: left;
	font-size: 1.462em;
}
.postbody .report-icon i,.postbody .info-icon i,.postbody .edit-icon i{	
	font-size: 1.1em;
}
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;	
	font-size: 16px;
	padding: 9px 12px 10px 12px;
	display: none;
	z-index: 99999;
}