/*  	
--------------------------------------------------------------
Colours and backgrounds for custom.css
-------------------------------------------------------------- */

/* Header Styles */

#wrapheader {  
  background:#ef0d31;/*bd102c
  -moz-opacity: 0.9;
  -khtml-opacity:0.9;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
  opacity: 0.9;  */
}

.logodiv h1 a,.navbar-links li a {   
  color:#FFF;
  -moz-opacity: 0.8;
  -khtml-opacity:0.8;   
  opacity: 0.8;  
  
}
.logodiv h1 a:hover,.navbar-links li a:hover {  
  -moz-opacity: 1;
  -khtml-opacity:1;  
  opacity: 1;  
  
}
.logodiv,.sblock,.navbar-links li:nth-child(2n+1){
    background: #bd102c;
}
.panel-icon {   
   background: #bd102c;   
}
.panel-icon i {
	color: #FFF;
	-moz-opacity: 0.8;
  -khtml-opacity:0.8;  
  opacity: 0.8; 
}   
.buttons:hover .button-icon {
   color: #111;
}
.panel-header {  
  background: #bd102c;
} 
h3.panel-header,h2.panel-header { 
  color: #ffffff;
}
h3.panel-header a,h2.panel-header a {  
  color: #ffffff;
}  

/* Header icons style */
 
.msg-counter-bg strong {
    background: #FFF;
    color: #bd102c;
}

/* Collapse Menu Button */

.btn-navbar {  
  color: #ffffff;  
  background-color: #FAFAFA;  
}
.btn-navbar:hover,
.btn-navbar:focus,
.btn-navbar:active,
.btn-navbar.active{
  color: #ffffff;
  background-color: #e5e5e5;  
}
.btn-navbar .btn-bar { 
  background-color: #111;
}

/* Right Content Forum Menu Colapse button */

#right-content #forum-menu .btn-navbar {
  background-color: #fff;
  color: #777;       
}  
#right-content #forum-menu a {
   color: #FFFFFF;
   -moz-opacity: 1!important;
   -khtml-opacity:1!important;  
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity:1!important;
}
#right-content #forum-menu .btn-navbar:hover,
#right-content #forum-menu .btn-navbar:focus,
#right-content #forum-menu .btn-navbar:active,
#right-content #forum-menu .btn-navbar.active{  
  background-color: #fff;
  color: #111;  
}

/* Right Content Forum Menu Styles */

#right-content .sblock {
    background: #F2F2F2;   
}
#right-content #forum-menu h4 {   
  color:#777;  
} 
#right-content #forum-menu a,#forum-menu {   
  color:#777;  
} 
#right-content #forum-menu a:hover{   
  color:#111;  
} 
#right-content #forum-menu ul li a:hover { 
  background-color:#fff;
}
/* Sidebar Forum Menu Colapse button */

#forum-menu .btn-navbar {
    background-color: #bd102c;   
} 

/* Sidebar Styles */
#sidebar a {   
  -moz-opacity: 0.8;
  -khtml-opacity:0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";    
  opacity: 0.8;   
} 
#sidebar a:hover {   
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";    
  opacity: 1;   
} 
#sidebar h4,#forum-menu h4{   
  color:#fff;  
} 
#sidebar,#forum-menu {   
  color:#EEEEEE;  
} 
#sidebar a,#forum-menu a {   
  color:#fff; 
}
#sidebar input { 
  color: #eee; 
  background-color: #bd102c;
}  
#sidebar input[type="text"]:focus,#sidebar input[type="password"]:focus{   
  color:#fff;
}
#sidebar ul li a:hover,#forum-menu ul li a:hover { 
  background-color:#bd102c;
  color:#fff;
}
#sidebar .btn:hover{ 
  color:#fff;  
}
#s-login i,#search i{  
  background:#bd102c;  
}
.adv-search-btn {
background: #bd102c;
color: #eeeeee;  
}
 .sidebar-inside-sb {
 background-color: #bd102c;  
}
.sidebar-inside-sb .button2 {
 background-attachment: scroll;    
 background-color: #C09514;
 background-image: url("./images/search.png");
 background-position: center center;
 background-repeat: no-repeat; 
 -moz-opacity: 0.8;
  -khtml-opacity:0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";    
  opacity: 0.8;   
}
.sidebar-inside-sb .button2:hover {
 background-color: #bd102c!important;
 -moz-opacity: 1;
  -khtml-opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";    
  opacity: 1;   
}
.adv-search-btn:hover,.adv-search-btn:hover i {
  background-color: #bd102c!important;  
}  
.sidebar-inside-sb input.inputbox{
 background-color: #bd102c!important; 
}  

/* Tooltip Styles */


.tooltip.in {
  -moz-opacity: 0.8;
  -khtml-opacity:0.8;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity:0.8; 
}
.tooltip-inner {   
  color: #ffffff;  
  background-color: #000000;  
}
#sidebar .tooltip {  
  -moz-opacity: 0;
  -khtml-opacity:0;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0; 
}
#sidebar .tooltip.in {
  -moz-opacity: 0.9;
  -khtml-opacity:0.9;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  opacity:0.9; 
}
#sidebar .tooltip-inner {  
  background-color: #F2F2F2;
  color: #111;  
}
#sidebar .tooltip.bottom .tooltip-arrow {  
  border-bottom-color: #F2F2F2;
}
.tooltip-arrow {  
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {  
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow { 
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {  
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {  
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}


/* Footer Styles */

#wrap-footer {  
  background: #bd102c;    
}
#page-footer { 
  color: #fff;
}
#page-footer a {
  color: #fff;    
}
#page-footer a:hover {
  color: #bd102c;    
}
#page-footer h4 {
    color: #DDD;        
} 
#wrap-copyrights {
 background: #bd102c;    
}
#page-copyrights {   
 color: #bd102c;
}
#page-copyrights a {
 color: #bd102c;
}
#page-copyrights a:hover {
  color: #fff;    
}

a.go-top {
	color: #111!important;
}
.go-top {	
	background-color: #FFF;
	-moz-opacity: 0.8;
  -khtml-opacity:0.8;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity:0.8; 	
}
.go-top:hover {	
	-moz-opacity: 1;
  -khtml-opacity:1;  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity:1; 
}	
/* Social icons style */

.soc-content ul li {
  background-color: #bd102c; 
}
.soc-content ul li a { 
  background-attachment: scroll; 
  background-image: url('./images/socials.png');
  background-repeat: no-repeat;  
}
.soc-content ul li a.twitter:hover { 
  background-color: #00ACED;
} 
.soc-content ul li a.facebook:hover { 
  background-color: #3B5998;
}
.soc-content ul li a.gplus:hover { 
  background-color: #D14836;
}
.soc-content ul li a.youtube:hover { 
  background-color: #CD332D;
}
.soc-content ul li a.rss:hover { 
    background-color: #FF8300;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #333333;
	background:url(./images/bg-pattern-01.png) #E2E1DF;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #bd102c;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #555;
}

hr {
	border-top: 1px solid #DDDDDD;
  	border-bottom: 1px solid #ffffff;
}

hr.dashed {
	border-top: 1px solid #DDDDDD;
}

/* Search box
--------------------------------------------- */

#search-box {
	color: #FFFFFF;
}

#search-box #keywords {
	background-color: #FFF;
}

#search-box input {
	border: 1px solid #b0b0b0;
}

/* boxes and backgrounds
---------------------------------------- */
.header {
  background: #bd102c;
} 

.headerbar {
	background-color: #ef0d31;
	color: #FFFFFF;
}

.panel {
	background-color: #F2F2F2;
	color: #bd102c;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1,.bg2,.bg3	{ background-color: #F2F2F2; }
	
.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #eaeaea;
}


/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
	background-color: #bd102c;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #E9E9E9;	
}

table.table1 tbody td {
	border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}


/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #111111;
}

dl.details dd {
	color: #666666;
}

.sep {
	color: #ef0d31;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #bd102c;
	border-color: #bd102c;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	color: #555;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

.pagination span a:hover {
	border-color: #bd102c;
	background-color: #bd102c;
	color: #FFF;
}

.pagination span a:active {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

/* Pagination in viewforum for multipage topics */

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #bd102c;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.rules {
	background-color: #ECD5D8;
	background-image: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #FFFFFF;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFFFFF;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #FFFFFF;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #C8E6FF;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #bd102c;
}

/* a.forumtitle:visited { color: #105289; } */

a.topictitle {
	color: #bd102c;
}

/* a.topictitle:visited { color: #368AD2; } */


/* Post body links */
.postlink {
	color: #D43A3A;
	border-bottom-color: #ef0d31;
}

.postlink:visited {
	color: #D43A3A;
	border-bottom-color: #ef0d31;
}

.postlink:active {
	color: #D43A3A;
}

.postlink:hover {
	background-color: #454545;
	color: #f3f3f3;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #AAAAAA;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #111;
}

.postprofile a:active {
	color: #105289;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #444444;
}

.search .postprofile a:hover {
	color: #444444;
}

/* Back to top of page */

a.top,a.up,a.down,a.left,a.right,a.top2 {
	display: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #F2F2F2;	
}

ul.topiclist li {
	color: #666;
}


ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DDD;
}

li.row strong {
	color: inherit;
}

li.row:hover {
	background-color: #E9E9E9;
}


li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333333;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}
.postbody h3 a {
	color: #bd102c;
}
.postbody ul.profile-icons li a {
	color: #BBBBBB;
}
.postbody ul.profile-icons li a:hover {
	color: #111;
}

li.warn-icon a:hover {
	color: #C44664!important;
}
.ic-reported,.ic-unaproved {   
  color: #C44664!important;
}
 
.icon-picture {   
  color: #888888!important;
}
/* Content container styles
----------------------------------------*/
.content {
	color: #555555;
}

.content h2, .panel h2 {
	color: #bd102c;
	border-bottom: 4px solid #bd102c;
}

dl.faq dt {
	color: #bd102c;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EBEADD;
	background-image: url("./images/quote.gif");
	border-color:#DBDBCE;
}

.rtl blockquote {
	background-image: url("./images/quote_rtl.gif");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#EFEED9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */
dl.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

dl.codebox dt {
	border-bottom-color:  #CCCCCC;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #333;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;	
}

.postprofile dt a img,.avatar,#viewprofile img {   
   background: #FAFAFA;
   border: 1px solid #CCC;   
}

#viewprofile img {    
   padding: 5px;  
}

.postprofile dt,.postprofile dd {   
   background: #EEEEEE;   
} 
.rtl .postprofile {
	border-right-color: #FFFFFF;
	border-left-color: transparent;
}


.rtl .pm .postprofile {
	border-right-color: #DDDDDD;
	border-left-color: transparent;
}

.postprofile strong {
	color: #444444;
}

.online {
	color: #2ECC71;
}
.offline {
	color: #D5D5D5;
}


/* Main CP box
----------------------------------------*/

ul.cplist {
	border-top-color: #B5C1CB;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	
}

#tabs a span {	
	color: #999;
}

#tabs a:hover span {
	color: #111;
}

#tabs .activetab a {
	
}

#tabs .activetab a span {
	color: #111;
}

#tabs .activetab a:hover span {
	color: #111;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #E1EBF2;
}

#minitabs li.activetab {
	background-color: #F9F9F9;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #333333;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	background-color: #FAFAFA;
    border: 1px solid #CCCCCC;    
	color: #999;
}

#navigation a:hover {	
	color: #111;
}

#navigation #active-subsection a {
	color: #111;	
}


/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #666;
}
#cp-main .panel .header dt a,#cp-main .panel .header dd a{    
   color: #fff;   
}
#cp-main .pm {
	background-color: #E8E8E8;
}
#cp-main .panel li.row {
	border-bottom: 1px solid #dddddd;
	border-top:  1px solid #ffffff;
}
/* Friends list */
.cp-mini {
	background-color: #eeeeee;
}

dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border: 1px solid #CCCCCC;
	background-color: #FAFAFA;
	color: #777;
}

label {
	color: #666666;
}

option.disabled-option {
	color: graytext;
}
input[type="checkbox"] {
	background-color: transparent!important;
}
/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;	
	color: #777;
}
.inputbox:focus {		
	color: #333;
}

/* Form button styles
---------------------------------------- */

/* <a> button in the style of the form buttons */
a.button1,a.button2,
input.button1,input.button2,input.button3,.buttons a{
	color: #777777;
	border: 1px solid #CCCCCC;
	background-color: #FAFAFA;
}

/* Hover states */
a.button1:hover,a.button2:hover,.buttons a:hover,
input.button1:hover,input.button2:hover,input.button3:hover {
	color: #111;	
	background-color: #FFF;
}

input.disabled {
	color: #666666;
}
