/* Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/
fieldset {
	border-width: 0;	
}

input {
	font-weight: normal;	
	vertical-align: middle;	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
    outline: none;
}

select {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;	    
    padding: 7px 6px;
    outline: none;
    max-width: 240px;
    	
}

option {
	padding-right: 1em;
}

option.disabled-option {
	color: graytext;
}

textarea {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 60%;
	padding: 2px;
	font-size: 1em;
	line-height: 1.4em;
}

label {
	cursor: default;
	padding-right: 5px;	
}

label input {
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dl {
	padding: 4px 0;
}

fieldset dt {
	float: left;	
	width: 40%;
	text-align: left;
	display: block;
}

fieldset dd {	
	vertical-align: top;
	margin-bottom: 3px;
}

fieldset dd:before,
fieldset dd:after {
  content: "";
  display: table;
  line-height: 0;
}

fieldset dd:after {
  clear: both;
}

#colour_palette a {
	display: block;
}	

/* Specific layout 1 */
fieldset.fields1 dt {
	width: 100%;
	border-right-width: 0;
	margin-bottom: 3px;
}

fieldset.fields1 dd {
	margin-left: 0;	
	border-left-width: 0;
}

fieldset.fields1 {
	background-color: transparent;
}

fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 #recaptcha_widget_div div {
	margin-bottom: 0;
}

/* Specific layout 2 */
fieldset.fields2 dt {
	width: 15em;
	border-right-width: 0;
}

fieldset.fields2 dd {
	margin-left: 16em;
	border-left-width: 0;
}

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label {	
	color: #333;
}

dd input, dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd textarea {
	width: 85%;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

#timezone {
	width: 95%;
}

* html #timezone {
	width: 50%;
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 15%;
	vertical-align: middle;
	margin-right: 5px;
	background-color: #f3f3f3;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px 0;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options a {
	margin-top: 3px;
}

/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	padding-right: 1em;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

/* Jumpbox */
fieldset.jumpbox {
	text-align: right;
	margin-top: 5px;	
}

fieldset.quickmod {
	width: 100%;
	float: right;
	text-align: right;
	margin-top: 5px;
	height: 2.5em;
}

/* Submit button fieldset */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
}

fieldset.submit-buttons input {
	vertical-align: middle;	
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */
#format-buttons {
	margin: 15px 0 2px 0;
}

#format-buttons input, #format-buttons select {
	vertical-align: middle;
}

/* Main message box */
#message-box {
	width: 80%;
}

#message-box textarea {	
	height: 270px;
	min-width: 100%;
	max-width: 100%;
	font-size: 1.2em;
	color: #333333;
	padding: 0!important;
}

/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right;
	margin-right: -5px;
}

#smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */
.inputbox {	
	padding: 6px;
	cursor: text;
}


input.inputbox	{ width: 85%; }
input.medium	{ width: 50%; }
input.narrow	{ width: 200px; }
input.tiny		{ width: 125px; }

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

/* Form button styles
---------------------------------------- */

input.button1,input.button2,input.button3 {	
	padding: 8px 10px;	
	width: auto !important;	
	cursor: pointer;	
}

a.button1,a.button2 {	
	padding: 8px 10px;
	line-height: 1em;
	margin-top: 10px;	
	width: auto !important;
	vertical-align: text-bottom;
	cursor: pointer;	
}
input.button1,input.button2,input.button3,
a.button1, a.button1:link, a.button1:visited, a.button1:active,
a.button2, a.button2:link, a.button2:visited, a.button2:active {
	text-decoration: none;			
}

input.disabled {
	font-weight: normal;
	color: #666666;
}

/* Topic and forum Search */
.search-box {	
	margin-left: 5px;
	float: left;
	margin-bottom: 5px;
    margin-top: 5px;
}

#cp-main .search-box {	
	margin-left: 0!important;	
}
.search-box .inputbox {
    padding: 5px 0 0 5px;
    border: 0 none;
}
.inside-search-box:hover,.inside-search-box:focus {
	border: 1px solid #AAA;
}
.search-box #search_keywords {    
    height: 20px;
    width: 220px;
}
.inside-search-box {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 30px;
    padding: 2px;
    width: 270px;
    position: relative;
}
.search-box .inside-search-box .button2 {    
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 30px;
    padding: 0;
    text-indent: -9999px;
    background-color: #CCCCCC;
    width: 30px !important;
    background-attachment: scroll;
    background-image: url("./images/search.png");
    background-position: center center;	
    background-repeat: no-repeat;
    transition:none;
}
.search-box .inside-search-box .button2:hover {
	background-color: #111;

}	




.full { width: 95%; }
.medium { width: 50%;}
.narrow { width: 25%;}
.tiny { width: 10%;}

