
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  #register fieldset.fields2 dt {
      width: 100%;
  }  
  #register fieldset.fields2 dd  {
      width: 100%;
      margin-left: 0;
  }  
  
  .bg-pic-main,.bg-pic-holder,#wrapcentre {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  #forum-menu .nav-collapse,
  #forum-menu .nav-collapse.collapse {
    overflow: hidden;
    height: 0;       
    float: none!important;    
  } 
  /* UCP styles */

  fieldset.fields1 .pmlist dt {    
   margin-right: 10px!important;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  #page-header,#page-body,#page-footer,#page-copyrights{
   width: 940px!important;
  } 
	
  /* Columns Width - change the width below if you want to change the width of sidebar 
  ------------------------------------------------------------------------------------ */

  #wrapcentre #page-body #right-content {
    width: 680px;
  }
  #sidebar {
    width: 250px!important;
  }

  /* Columns Width End */


  /* Header styles */

  #wrapheader {
    height: 80px !important;
    
  }
  #wrapcentre {    
    padding-top: 130px!important;    
  }  
  .logodiv {
    height: 80px!important;
    max-height: 80px!important;
  }
  .logodiv h1 {   
      line-height: 80px;    
  }
  .holdericon {    
    font-size: 2.469em !important;
    margin-top: 24px;
    height: 36px!important;
  } 
  .header-label {    
    font-size: 0.9em!important;
    left: 5px!important;    
  } 
  .navbar-links > li { 
   height: 80px!important;
   width: 80px!important; 
  }  
  .navbar-links > li > a { 
   height: 80px!important;
   width: 80px!important; 
  }  

  /* Footer styles */

  .about {
    margin-right: 70px !important;
    width: 320px !important;
  }
  .footer-block {    
    margin-right: 30px;    
    width: 150px;
  }

  /* Viewtopic styles */

  .postbody {  
  width: 75%;   
  }
  .postprofile {   
  width: 23%;  
  }

  /* Remind Box */
   
  #remind input.medium {
    width: 80%!important;
  }

  /* Register Page */
  
  #register .autowidth {
   width: 53%!important;
  } 
}

@media (min-width: 768px) and (max-width: 979px) {

  #page-header,#page-body,#page-footer,#page-copyrights {
    width: 750px!important;
  }	
  #page-header {
    width: 100%!important;
  } 
  .go-top,dd.topics,dd.posts,dd.replies,.panel-icon,dd.views {
    display: none!important;
  }
  ul.topiclist dt {
    width: 55%!important;
  }
  .header dt,.panel-header {
    padding-left: 5px!important;
  } 

  /* Columns Width - change the width below if you want to change the width of sidebar 
------------------------------------------------------------------------------------ */

  #wrapcentre #page-body #right-content {
  width: 490px;
  }
  #sidebar {
  width: 250px!important;
  }

/* Columns Width End 
------------------------------------------------------------------------------------ */

/* Footer styles */
  
  .footer-block {    
    margin-right: 30px;    
    width: 90px;
  }
  .footer-l {    
    width: 55%;
  }
  .footer-r {    
    width: 42%;
  }
  .about {
    margin-right: 50px !important;
    width: 220px !important;
  }
  .footer-social {
    float: right!important;    
  }
  .buttons-expand {
    width:100%; 
    display: table;   
  }

  /* Remind Box */

  #remind input.medium {
    width: 80%!important;
  }

  /* Register Page */
  
  #register .autowidth {
   width: 53%!important;
  } 
}

@media (max-width: 979px) {

	body {
    padding-top: 0;
  }
  #wrapheader { background:none;}  
  #wrapheader .logodiv { height: 50px!important;display: table; }
  #wrapheader .logodiv h1 { vertical-align: middle;line-height: 50px;top: 0!important;}    
  #wrapheader { height: auto!important; }
  #wrapheader .logodiv a { height: 50px!important; }

  .navbar .btn-navbar {
  display: block!important;
  }
  .nav-collapse {
  clear: both!important;
  }
  #page-header .nav-collapse,
  #page-header .nav-collapse.collapse {      
  background: #454545;
  overflow: hidden;
  height: 0;       
  float: none!important;
  } 
  .inner-header {
  background: #ef0d31;
  width: 100%;
  height: auto;
  }  
  .navbar-holder {
  margin-left:auto!important;
  margin-right:auto!important;
  width: 100%!important;
  } 
  .navbar-links {
  text-align: center!important;
  }
  #wrapheader .navbar-links li:nth-child(2n+1) {  
  background:none!important;
  }  
  .navbar-links > li {
  display: inline-block!important;
  float: none!important;
  }
  #wrapheader .logodiv {
    background-color: transparent!important;    
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    float: none!important;
  }
  #wrapheader .navbar-links li { height: 50px!important;width: 50px !important; }
  #wrapheader .navbar-links li a { height: 50px !important;width: 50px !important;}
  #wrapheader .navbar-links a i { position: relative;margin-top: -10px;font-size: 0.8em!important;}
  #wrapheader .msg-counter-bg strong,#wrapheader .msg-counter strong {font-size: 11px!important;top: -3px!important;padding: 0 3px;color:#fff !important; background-color:#454545 !important;padding:3px;border-radius:25px;}
  #wrapheader .msg-counter-bg,#wrapheader .msg-counter {left: 5px!important;}
  .holdericon {    
    height: 12px!important;
    margin-top: 15px!important;   
  }
  .header-label {    
    left: 0!important;    
padding-top:5px;
    text-align: center!important;
  }

  .navbar-fixed-top {
    position: relative!important;
  }
  #wrapcentre {    
    padding-top: 50px!important;    
  }  

  .navbar-links li,i,.logodiv,li.row,#wrapheader,
  .navbar-links li a,.buttons a,a.button1, a.button2, input.button1, input.button2, input.button3,
  .navbar-links li a:hover,#forum-menu .btn-navbar .btn-bar,
  .logodiv h1,.logodiv a:hover h1,
  #sidebar a,#sidebar input,.social-content ul li a,
  .msg-counter-bg strong,.msg-counter strong,
  .msg-counter-bg,.msg-counter,.cat a,#sidebar .btn,
  .holdericonheader-icon {
    transition: none 0s ease 0s!important;
    -moz-transition: none 0s ease 0s!important; /* Firefox 4 */
    -webkit-transition: none 0s ease 0s!important; /* Safari and Chrome */
    -o-transition: none 0s ease 0s!important; /* Opera */
  }
  /* Viewtopic styles */

  .postbody,.postprofile {
    float: none;
    width: 100%!important;
  } 
  .postbody {
    margin-top: 10px;
  } 
  .profile-up-right {
    float: right;
    width: 65%;
  } 
  .postprofile dt {
    display: inline-block;    
    width: 33%;
    vertical-align: top;
  }
  fieldset.jumpbox {
    margin-bottom: 5px;    
  }
  .display-options select,.display-options .button2 {    
    margin-bottom: 5px!important;
    margin-top: 5px!important;
  } 
  #memberlist .info {
    display: none!important;
  }  
  /* UCP styles */
  
  #cp-main fieldset dt {    
    width: 100%;
    margin-bottom: 5px;  
  }
  #cp-main fieldset dd {    
   margin-left: 0!important;
  }
  #smiley-box {    
    width: 100%!important;
    float: none;
  } 
  #message-box {
    width: 100%;
  }
  .bbcode-status {
    display: none;
  }
  #cp-main .postprofile dd {    
    float: right;
    width: 64%; 
  }
  #cp-main .postprofile dt {      
    float: left;    
  }
  #cp-main .time, #cp-main .ip {      
    display: none;    
  }
}
@media (min-width: 768px) {
  #page-header.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }  
}
@media (max-width: 767px) {
  #page-header,#page-body,#page-footer,#page-copyrights{
     width: auto!important;
  }
  
  #right-content,#sidebar {
    float: none;
    width: 100%!important;
  } 
  .sidebar-inside-sb {    
    width: 100%!important;
  } 
  .sidebar-inside-sb input.inputbox {    
    width: 90%!important;
  } 
  #page-copyrights {
    padding-left: 10px;
    padding-right: 10px;
  } 
  input.input-login{ 
  width: 100%;   
  vertical-align: middle;
  text-indent: 34px;
  }
  /* UCP styles */
  #cp-menu,#cp-main {    
    width: 100%!important;
    float: none;
  } 
  #cp-main {    
    margin-left: 0!important;    
  }
  #tabs {    
    min-width: 100%!important;  
  }
  #postingbox .fields1 dd .button2 {
    padding:8px 10px!important;
  }
  #cp-main dd.moderation {
    display: none!important;
  }
  fieldset.fields1 dd {  
  margin-left: 0;
  }
  .left-box {
    float: none!important;
    text-align: left;
    margin-bottom: 5px;
    width: auto;
  }
  #cp-main dd.info {
    display: none!important;
  }  
}

@media (min-width: 481px) and (max-width: 767px) {

  .go-top,dd.topics,dd.replies,dd.posts,.panel-icon,dd.views {
    display: none!important;
  }
  ul.topiclist dt {
    width: 55%!important;
  }
  .header dt,.panel-header {
    padding-left: 5px!important;
  }   
 /* Footer styles */
  
  .footer-block {    
    margin-right: 30px;    
    width: 100%;
    margin-top: 10px;
  }
  .footer-l {    
    width: 55%;
  }
  .footer-r {    
    width: 42%;
  }
  .about {
    margin-right: 50px;    
  }
  .footer-social {   
    margin-top: 10px;   
  }
  /* Remind Box */
   
  #remind input.medium {
    width: 80%!important;
  } 

  /* Register Page */
  
  #register .autowidth {
   width: 63%!important;
  } 
  fieldset dt {   
    width: 40%!important;
  }
}

@media (max-width: 480px) {
  
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin-right:0;
    margin-left: 0;
    margin-top: 0;
  }
  .sidebar-inside-sb input.inputbox {
    width: 70% !important;
  }

  .go-top,dd.redirect,dd.lastpost,dd.posts,.panel-icon,dd.views {
    display: none!important;
  }
  ul.topiclist dt {
    width: 65%!important;
  }
  .header dt,.panel-header {
    padding-left: 5px!important;
  }   
  /* Footer styles */
  
  .footer-block {    
    margin-right: 30px;    
    width: 100%!important;
    margin-top: 10px;
  }
  .footer-l {    
    width: 100%!important;
  }
  .footer-r {    
    width: 100%!important;
  }
  .about {
    margin-right: 50px !important; 
    width: 100%!important;   
  }
  .footer-social {   
    margin-top: 10px;   
  }
  #jumpbox {    
    width: 100%!important;
    clear: both;
    margin-top: 5px;
  } 
  .buttons {
    float: left;
    margin-bottom: 10px!important;
    margin-top: 0!important;
  } 
  /* Viewtopic styles */
  .postprofile dt {
    background:none!important;
  }
  .profile-up-right {
    float: right;
    width: 60%;
  }
  .quickmod label {
    display: none;
  }
  fieldset.quickmod {
    margin-bottom: 20px;
  }
  .autowidth {
    width: 93%!important;
  }
  /* Remind Box */

  fieldset dd {    
    margin-left: 0!important;    
  }
  fieldset dt {   
    width: 100%!important;
  }
  #remind input.medium {
    width: 90%!important;
  }
  /* Forum search Bar */

  .search-box {    
    margin-top: 0!important;
    width: 95%;
  }
  .search-box #search_keywords {   
    width: 80%;
  }
  .inside-search-box {   
    width: 99%;
  }

  /* UCP styles */

  #cp-main .postprofile dd {    
    width: 60%!important;
  }
  #cp-main .buttons div {    
   margin-bottom: 10px!important;
  }
  #cp-main .warnings {    
   display: none!important;
  }
  #cp-main .time {    
  display: none!important;
  }
  .column1 {    
    width: 100%!important;
  }
  #cp-main dd.extra {
    display: none!important;
  }

  /* Register Page */

  #register img {
    width: 100%!important;
  }
  #register .autowidth {
   width: 93%!important;
  }

  /* Faq Page */

  #faqlinks .column2 {
    clear: left;
    float: left;
    width: 100%;
  }

  /* Search Results */

  .topic-actions {
    clear: both;
  }
}










